soap/zad2/wsdl/territories.wsdl

<?xml version="1.0"?>
<definitions name="EmployeeList" targetNamespace="urn:EmployeeList" xmlns:tns="urn:EmployeeList"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Employees">
      <xsd:element name="getTerritoryDescription" type="xsd:string" />

      <xsd:complexType name='return'>
      <xsd:complexContent>
      <xsd:restriction base='soapenc:Array'>
        <xsd:attribute wsdl:arrayType='Employees[]' ref='soapenc:arrayType' />
      </xsd:restriction>
    </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name='Employees'>
      <xsd:all>
            <xsd:element
              name='EmployeeID '
              type='xsd:int'/>
            <xsd:element
              name='LastName '
              type='xsd:string'/>
            <xsd:element
              name='FirstName'
              type='xsd:string'/>
            <xsd:element
              name='Title'
              type='xsd:string'/>
            <xsd:element
              name='TitleOfCourtesy'
              type='xsd:string'/>
            <xsd:element
              name='Address'
              type='xsd:string'/>
            <xsd:element
              name='City'
              type='xsd:string'/>
             <xsd:element
              name='Region'
              type='xsd:string'/>
            <xsd:element
              name='HomePhone '
              type='xsd:string'/>
            <xsd:element
              name='Country'
              type='xsd:string'/>
      </xsd:all>
    </xsd:complexType> 	  
	</xsd:schema>			
  </types>
  
  <message name="listEmployees">
    <part name="TerritoryDescription" type="tns:getTerritoryDescription" />
  </message>
  
  <message name="listEmployeesResponse">
    <part name="return" type="tns:return" />
  </message>  
  
  <portType name="EmployeesPort">
    <operation name="listEmployees">
	  <input message="tns:listEmployees" />
	  <output message="tns:listEmployeesResponse" />
	</operation>
  </portType>
  
  <binding name="EmployeesBinding" type="tns:EmployeesPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
	  <operation name="listEmployees">
	    <soap:operation soapAction="urn:EmployeesAction" />
		<input>
		  <soap:body use="encoded" namespace="urn:Employees" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />		  
		</input>
		<output>
		  <soap:body use="encoded" namespace="urn:Employees" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />		  
		</output>
	  </operation>
  </binding>
  
  <service name="EmployeesService">
    <port name="EmployeesPort" binding="tns:EmployeesBinding">
	  <soap:address location="http://localhost/soap/zad2/server.php" />
	</port>
  </service>
    
</definitions>